.StatisticsAll{
    margin-left: 20%;
    margin-top: 3%;
}
.StatisticsText{
    font-size: 30px;
    margin-bottom: 3%;
}
.StatisticsContainer {
    display: flex; 
  }
.StatisticsText1{
    font-size: 25px;
    margin-left: 33%;
}